<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Herramienta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Herramienta.Properties.Settings>
            <setting name="UrlApi" serializeAs="String">
                <value>http://192.168.0.2/apiMovStock/public/</value>
            </setting>
            <setting name="IdSucursal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ArticuloLista" serializeAs="String">
                <value>articulo/</value>
            </setting>
            <setting name="TipoSeleccionar" serializeAs="String">
                <value>articulo/tipo</value>
            </setting>
            <setting name="TipoGuardar" serializeAs="String">
                <value>articulo/tipo</value>
            </setting>
            <setting name="MaximosMinimosGuardar" serializeAs="String">
                <value>articulo/maximosminimos</value>
            </setting>
            <setting name="PrecioMargenGuardar" serializeAs="String">
                <value>articulo/preciomargen</value>
            </setting>
            <setting name="RecetaLista" serializeAs="String">
                <value>receta/</value>
            </setting>
            <setting name="RecetaDetalleLista" serializeAs="String">
                <value>receta/detalle/</value>
            </setting>
            <setting name="RecetaInsertar" serializeAs="String">
                <value>receta</value>
            </setting>
            <setting name="RecetaInsertarDetalle" serializeAs="String">
                <value>receta/detalle</value>
            </setting>
            <setting name="RecetaTipo" serializeAs="String">
                <value>receta/tipo</value>
            </setting>
            <setting name="CategoriaLista" serializeAs="String">
                <value>categoria/</value>
            </setting>
            <setting name="OrdenarLista" serializeAs="String">
                <value>ordenar/lista</value>
            </setting>
            <setting name="DepartamentoLista" serializeAs="String">
                <value>departamento</value>
            </setting>
            <setting name="PermisoObtener" serializeAs="String">
                <value>permiso</value>
            </setting>
            <setting name="ProveedorLista" serializeAs="String">
                <value>proveedor</value>
            </setting>
            <setting name="ReporteGeneral" serializeAs="String">
                <value>reporte/general</value>
            </setting>
            <setting name="ReporteImprimir" serializeAs="String">
                <value>reporte/general/imprimir</value>
            </setting>
            <setting name="FormularioReporteRuta" serializeAs="String">
                <value>formula/reporte/</value>
            </setting>
            <setting name="FormularioReporteImprimir" serializeAs="String">
                <value>imprimir</value>
            </setting>
            <setting name="FormularioReporteGeneral" serializeAs="String">
                <value>general</value>
            </setting>
            <setting name="SucursalLista" serializeAs="String">
                <value>sucursal</value>
            </setting>
            <setting name="ReporteTag" serializeAs="String">
                <value>reporte/tag</value>
            </setting>
            <setting name="ReporteTagNombre" serializeAs="String">
                <value>reporte/tag/nombre</value>
            </setting>
            <setting name="ReporteUltimosRegistros" serializeAs="String">
                <value>reporte/registros</value>
            </setting>
            <setting name="ProveedorBuscar" serializeAs="String">
                <value>proveedor/buscar</value>
            </setting>
            <setting name="ReporteActualizarUltimoRegistro" serializeAs="String">
                <value>reporte/actualizar/busqueda</value>
            </setting>
            <setting name="Orden" serializeAs="String">
                <value>reporte/OrdenarReceta</value>
            </setting>
            <setting name="Concepto" serializeAs="String">
                <value>reporte/OrdenarConcepto</value>
            </setting>
            <setting name="ReporteReceta" serializeAs="String">
                <value>reporte/ReporteCocinaExcel</value>
            </setting>
            <setting name="prueba" serializeAs="String">
                <value>prueba/seleccionar</value>
            </setting>
            <setting name="listaplatillos" serializeAs="String">
                <value>reporte/seleccionarplatillo</value>
            </setting>
            <setting name="menu" serializeAs="String">
                <value>receta/seleccionarmenu</value>
            </setting>
            <setting name="buscarcongelados" serializeAs="String">
                <value>reporte/Sacarcongelado</value>
            </setting>
            <setting name="ActualizarCongelado" serializeAs="String">
                <value>articulo/actualizarcongelados</value>
            </setting>
            <setting name="ReporteCongelado" serializeAs="String">
                <value>reporte/ReporteCongeladosFinal</value>
            </setting>
        </Herramienta.Properties.Settings>
    </applicationSettings>
</configuration>