<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Herramienta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Herramienta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Herramienta.Properties.Settings>
            <setting name="UrlApi" serializeAs="String">
                <value>http://192.168.0.2/apiMovStock/public/</value>
            </setting>
            <setting name="IdSucursal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ArticuloLista" serializeAs="String">
                <value>articulo/</value>
            </setting>
            <setting name="TipoSeleccionar" serializeAs="String">
                <value>articulo/tipo</value>
            </setting>
            <setting name="TipoGuardar" serializeAs="String">
                <value>articulo/tipo</value>
            </setting>
            <setting name="MaximosMinimosGuardar" serializeAs="String">
                <value>articulo/maximosminimos</value>
            </setting>
            <setting name="PrecioMargenGuardar" serializeAs="String">
                <value>articulo/preciomargen</value>
            </setting>
            <setting name="RecetaLista" serializeAs="String">
                <value>receta/</value>
            </setting>
            <setting name="RecetaDetalleLista" serializeAs="String">
                <value>receta/detalle/</value>
            </setting>
            <setting name="RecetaInsertar" serializeAs="String">
                <value>receta</value>
            </setting>
            <setting name="RecetaInsertarDetalle" serializeAs="String">
                <value>receta/detalle</value>
            </setting>
            <setting name="RecetaTipo" serializeAs="String">
                <value>receta/tipo</value>
            </setting>
            <setting name="CategoriaLista" serializeAs="String">
                <value>categoria/</value>
            </setting>
            <setting name="OrdenarLista" serializeAs="String">
                <value>ordenar/lista</value>
            </setting>
            <setting name="DepartamentoLista" serializeAs="String">
                <value>departamento</value>
            </setting>
            <setting name="PermisoObtener" serializeAs="String">
                <value>permiso</value>
            </setting>
            <setting name="ProveedorLista" serializeAs="String">
                <value>proveedor</value>
            </setting>
            <setting name="ReporteGeneral" serializeAs="String">
                <value>reporte/general</value>
            </setting>
            <setting name="ReporteImprimir" serializeAs="String">
                <value>reporte/general/imprimir</value>
            </setting>
            <setting name="FormularioReporteRuta" serializeAs="String">
                <value>formula/reporte/</value>
            </setting>
            <setting name="FormularioReporteImprimir" serializeAs="String">
                <value>imprimir</value>
            </setting>
            <setting name="FormularioReporteGeneral" serializeAs="String">
                <value>general</value>
            </setting>
            <setting name="SucursalLista" serializeAs="String">
                <value>sucursal</value>
            </setting>
            <setting name="ReporteTag" serializeAs="String">
                <value>reporte/tag</value>
            </setting>
            <setting name="ReporteTagNombre" serializeAs="String">
                <value>reporte/tag/nombre</value>
            </setting>
            <setting name="ReporteUltimosRegistros" serializeAs="String">
                <value>reporte/registros</value>
            </setting>
            <setting name="ProveedorBuscar" serializeAs="String">
                <value>proveedor/buscar</value>
            </setting>
            <setting name="ReporteActualizarUltimoRegistro" serializeAs="String">
                <value>reporte/actualizar/busqueda</value>
            </setting>
            <setting name="Orden" serializeAs="String">
                <value>reporte/OrdenarReceta</value>
            </setting>
            <setting name="Concepto" serializeAs="String">
                <value>reporte/OrdenarConcepto</value>
            </setting>
            <setting name="ReporteReceta" serializeAs="String">
                <value>reporte/ReporteCocinaExcel</value>
            </setting>
            <setting name="prueba" serializeAs="String">
                <value>prueba/seleccionar</value>
            </setting>
            <setting name="listaplatillos" serializeAs="String">
                <value>reporte/seleccionarplatillo</value>
            </setting>
            <setting name="menu" serializeAs="String">
                <value>receta/MostrarMenu</value>
            </setting>
            <setting name="buscarcongelados" serializeAs="String">
                <value>reporte/Sacarcongelado</value>
            </setting>
            <setting name="SacarCongelado" serializeAs="String">
                <value>receta/SacarCongeladoMenu</value>
            </setting>
            <setting name="ReporteCongelado" serializeAs="String">
                <value>reporte/ReporteCongeladosFinal</value>
            </setting>
            <setting name="Agrega_BuscarCongelado" serializeAs="String">
                <value>reporte/BuscarArticuloCongelar</value>
            </setting>
            <setting name="AgregarCongelado1" serializeAs="String">
                <value>receta/AgregarCongelado</value>
            </setting>
            <setting name="inabilitarcongelado" serializeAs="String">
                <value>reporte/inavilitarCongelado</value>
            </setting>
            <setting name="ordenarproducto" serializeAs="String">
                <value>reporte/ordenartipoproducto</value>
            </setting>
            <setting name="DetalleRecetaCocina" serializeAs="String">
                <value>reporte/DetalleCocinaReceta</value>
            </setting>
            <setting name="INSERTARRUTAEIMAGEN" serializeAs="String">
                <value>receta/insertarinstrucciones</value>
            </setting>
            <setting name="Buscarrecetav1" serializeAs="String">
                <value>receta/BuscarReceta</value>
            </setting>
            <setting name="eliminaringredientes" serializeAs="String">
                <value>receta/eliminaringredientes</value>
            </setting>
            <setting name="actualizarpresupuesto" serializeAs="String">
                <value>receta/actualizarpresupuesto</value>
            </setting>
            <setting name="actualizar_ruta_e_instrucciones" serializeAs="String">
                <value>receta/actRuta_and_Instrucciones</value>
            </setting>
            <setting name="TiposPlatillosDiarios" serializeAs="String">
                <value>receta/SeleccionarPlatilloMenu</value>
            </setting>
            <setting name="InsertarMenuDia" serializeAs="String">
                <value>receta/InsertarMenu</value>
            </setting>
            <setting name="RecetaporClave" serializeAs="String">
                <value>receta/SeleccionarDatosReceta</value>
            </setting>
            <setting name="TipoIdporNombre" serializeAs="String">
                <value>receta/SeleccionarTiporId</value>
            </setting>
            <setting name="ExistenciaCongeladoMenu" serializeAs="String">
                <value>receta/PlatilloCongelado</value>
            </setting>
            <setting name="TipoUnidades" serializeAs="String">
                <value>receta/unidad</value>
            </setting>
            <setting name="DiaAntes" serializeAs="String">
                <value>/receta/Diario</value>
            </setting>
            <setting name="DiaAntes1" serializeAs="String">
                <value>/receta/Diario</value>
            </setting>
            <setting name="ActualizarCongelado" serializeAs="String">
                <value>articulo/actualizarcongelados</value>
            </setting>
            <setting name="InsertarMenuDiarios" serializeAs="String">
                <value>receta/InsertarMenu</value>
            </setting>
            <setting name="RecIdporClave" serializeAs="String">
                <value>receta/SeleccionarRecId</value>
            </setting>
            <setting name="ListaIngredientesMenu" serializeAs="String">
                <value>receta/IngredientesPlatillos</value>
            </setting>
            <setting name="ActualizarMenuSemanal" serializeAs="String">
                <value>receta/ActualizarMenuSemanaActual</value>
            </setting>
            <setting name="CargarSemanaActual" serializeAs="String">
                <value>receta/CargarMenuActual</value>
            </setting>
            <setting name="RepoCongeladoFechado" serializeAs="String">
                <value>reporte/ReporteCongeladosFechado</value>
            </setting>
            <setting name="ListaIngredientesMenu1" serializeAs="String">
                <value>/receta/IngredientesPlatillos</value>
            </setting>
        </Herramienta.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Herramienta.Properties.Settings>
            <setting name="EditarMenuSemanal" serializeAs="String">
                <value>receta/EditarMenuActual</value>
            </setting>
            <setting name="ValidacionDiaria" serializeAs="String">
                <value>/receta/validarDiario</value>
            </setting>
            <setting name="DiarioAntesX2" serializeAs="String">
                <value>/receta/DiarioX2</value>
            </setting>
            <setting name="ActualizarDiarioFechaX2" serializeAs="String">
                <value>receta/ActualizarDiarioX2_Fecha</value>
            </setting>
            <setting name="ActualizarDiarioDestinoX2" serializeAs="String">
                <value>receta/ActualizarDiarioX2_Destino</value>
            </setting>
            <setting name="ActualizarDiarioX2" serializeAs="String">
                <value>receta/ActualizarDiarioX2</value>
            </setting>
            <setting name="CargarRecetasDiarias" serializeAs="String">
                <value>receta/RecetasDiarias</value>
            </setting>
        </Herramienta.Properties.Settings>
    </userSettings>
</configuration>