<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExcelAddIn1.Properties.Settings>
            <setting name="ReporteCocinaExcel" serializeAs="String">
                <value>reporte/ReporteCocinaExcel</value>
            </setting>
        </ExcelAddIn1.Properties.Settings>
    </applicationSettings>
</configuration>